index.php
license.txt
readme.html
wp-admin
wp-includes
wp-activate.php
test.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-login.php
.htaccess
wp-content/themes/twentytwentyfour
wp-content/themes/twentytwentythree
wp-content/themes/twentytwentytwo 